/* Asegura que la página ocupe toda la altura y anchura de la pantalla */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor que centra el cuadro de autenticación */
.auth-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa toda la anchura de la ventana */
    background-color: var(--background-color);
}

/* Estilo para el cuadro de autenticación */
.auth-box {
    background-color: var(--box-background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del cuadro */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    position: relative; /* Necesario para posicionar el logo */
}

/* Logo en la parte superior del cuadro de autenticación */
.auth-box::before {
    content: "";
    background-image: url('/logo.png'); /* Ruta del logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px; /* Ajusta según el tamaño del logo */
    height: 80px; /* Ajusta según el tamaño del logo */
    position: absolute;
    top: -40px; /* Ajusta la posición del logo según sea necesario */
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para el encabezado del cuadro */
h2 {
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para los campos de entrada */
input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
}

/*
button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: var(--button-hover-background-color);
}
*/
/* Estilo para los mensajes de error */
.error-message {
    color: var(--error-text-color);
    margin-top: 1rem;
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
}

/* Estilo para el texto de registro e inicio de sesión */
p {
    margin-top: 1rem;
    color: var(--p-text-color); /* Color del texto del párrafo */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
}

/*
p a {
    color: var(--link-text-color);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
*/
