body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 6rem;
    color: var(--color-h1, var(--heading-color));
    margin: 0;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 1.5rem;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 1rem;
    color: var(--p-text-color);
    font-size: 1rem;
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: var(--button-background-color-diabled);
    color: var(--button-text-color-diabled);
    cursor: not-allowed;
    opacity: 0.7;
}
